<div class="container">
  <h1 class="title">Adicionar Usuário</h1>

  <nav class="level">
    <div class="level-left">
      <p class="level-item">
        <a class="button is-success" href="/">Usuários</a>
      </p>
    </div>
  </nav>
</div>

<app-form-user></app-form-user>
<div class="container">
  <div class="field crud-buttons" style="margin-top: 50px;">
    <div class="buttons">
      <button class="btn btn-success" (click)=onSubmit()>Criar Usuário</button>
      <button class="btn" (click)=onCancel()>Cancelar</button>
    </div>
  </div>
</div>